body {
    background-color: rgb(130, 132, 133);
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.row {
    display:flex;
}

.box {
    flex: 1;
    padding: 20px
}

h1, h2,h3, h4, p {
    text-align: center;
}
img {
    display: block;
    margin: 0 auto;
}
nav {
    text-align: center;
    width: 100%;
}
nav a {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 6px;
    display: inline-block;
}

.box a {
    margin: 10px;
    font-size: 15px;
}

nav a:hover {
    background: #757677;
}

header {
    background: #2a2c2e;
    height: 8vh;
    display: flex;
    align-items: center;
}
.intro {
    font-size: 20px;
}

img {
    border: 5px solid #000000;
}

.video {
    font-size: 20px;
    font-weight: bold;
    color:#ffffff;
    text-decoration: none;
    border-radius: 3px;
    padding: 10px 20px;
    background: #4e4a4a;
}

.video:hover {
    background: #353232;
}